body{
    background-color: black;
    background-image: url(../images/bodybg.jpg);
    
}
 
#headimg{
    width:50px;
    border-radius: 50%;
    padding-right: 10px;
}
#aboutme{
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#biocard{
    border-color: black;
}


#greeting{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#biobg{
    background-color: black;
    background-image: url(../images/bioback.jpg);
    opacity: 0.9;
}

#biotxt{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#copytxt{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  
}

.sticky-footer{
    background-color: black;
}


.card-header{
    text-align: center;

    background-color: black;
    color: blue;
    font-size: 150%;
    display: block;
    background-image: url(../images/bioback.jpg);

}

.card-body{
    text-align: center;
    border-color: black;
    background-color: grey;
    color: indigo;
    font-size: 150%;
    display: block;
    background-image: url(../images/bioback.jpg);
    
}